[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyarrow = "*"
pickle-mixin = "*"
boto3 = "==1.24.50"
pandas = "==1.1.5"
numpy = "*"
scikit-learn = "==1.0.2"
hyperopt = "==0.2.7"
xgboost = "==1.6.1"
mlflow = "==1.28.0"
prefect = "==2.1.1"
flask = "==2.2.2"
gunicorn = "==20.1.0"
evidently = "==0.1.56.dev0"
pymongo = "==4.1.1"
requests = "~=2.26.0"
typing-extensions = "==4.3.0"
psutil = "==5.9.1"
dataclasses = "==0.6"
werkzeug = "==2.2.2"
pyyaml = "~=5.4.1"

[dev-packages]
ipykernel = "*"
pytest = "7.1.3"
deepdiff = "*"
pylint = "2.15.2"

[requires]
python_version = "3.9"
